*{
    margin:0;
    padding:0;
    font-family:'poppins', sans-serif;
    box-sizing:border-box;
}
body{
    background-color: rgb(46, 43, 43);
}
.calc{
    display:flex;
    width:100%;
    height:100vh;
    padding-bottom:50px;
    justify-content:center;
    align-items:center;
    background-color: #051129;
}
.icons{
    display:flex;
    background-color: #0ef;
    padding:80px;
    border-radius:10px;
}
.input-display{
    border:none;
    padding:none;
}
.col{
    display:flex;
    gap:25px;
    padding-top: 14px;;
    padding-bottom:14px;
    justify-content: space-between;
}
.col .f{
    display:flex;
    gap:26px;
    padding-top:14px;
}
button{
    width:60px;
    height:50px;
    font-size: 18px;
    border-radius:0.5rem;
    padding:10px;
    box-shadow: -5px -5px 10px rgb(51, 77, 77);
}
.icons form input{
    width:100%;
    margin-bottom:10px;
}
input{
    width:50%;
    height:50px;
    font-size: 20px;
    padding-right:5px;
    text-align:right;
    box-shadow: -5px -5px 10px rgb(37, 30, 37), 0 0 30px rgb(188, 195, 199);
}
button:hover{
    box-shadow: 0 0 30px #0ef;
}
.result{
    width:145px;
}
.color{
    color:rgb(233, 159, 21)
}
.matter{
    display:flex;
    padding-bottom:100px;
    font-size:50px;
    padding-right:-10px;
    color:rgb(97, 158, 138)
}